<% stylesheet_link_tag "user-list"%>

<main class='main-container'>
  <h1 class='user-list-heading'>User List</h1>
  <div class='user-list'>
    <% @users.each do |user| %>
      <%= render partial: "shared/user-container", locals: {user: user} %>
    <% end %>
  </div>
</main>

<br>
