<% stylesheet_link_tag "user-details"%>

<main class='main-container'>
  <h1>Specific User</h1>
  <section class='user-section'>
    <%= render partial: "shared/user-container", locals: { user: @user } %>
    <div class='bio-container'>
      <h3 class='bio-header'>Bio</h3>
      <p class='bio-text'>
        <%= @user.bio %>
      </p>
    </div>
  </section>
  <section class='user-posts-section'>
    <% @posts.each do |post| %>
      <%= render partial: 'shared/post-container', locals: { post: post } %>
    <% end %>
  </section>
</main>
<br>
