<div class='user-container user-<%= user.id %>'>
  <img class='user-image' src='<%= user.photo %>'>
  <div class='user-details'>
    <span class='user-name'>
      <%= user.name %>
    </span>
    <span class='posts-count'> Number of posts:
      <%= user.posts_counter %>
    </span>
  </div>
</div>
