<% stylesheet_link_tag "tables"%>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Post id</th>
      <th>Title</th>
      <th>Text</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| unless @posts.nil? %>
      <tr>
        <td><%= @user.name %></td>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
