<% stylesheet_link_tag "posts-list"%>

<main class='main-container'>
  <h1>Listing Posts</h1>
  <%= render partial: "shared/user-container", locals: { user: @user } %>

  <section class='posts-section'>
    <% @posts.each do |post| %>
      <%= render partial: 'shared/post-container', locals: { user:@user, post: post } %>
      <div class='post-list-comments'>
        <% @comments.each do |comment| %>
          <% if comment.author_id == @user.id %>
            <%= render partial: 'shared/comment-container', locals: { comment: comment, user: @user } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>

  <br>
</main>
